@charset "UTF-8";
/* CSS Document */

body  {
	font-family: Arial, Helvetica, sans-serif;
	background: #FFFFFF;
	margin: 0;
	padding: 0 0 0 0;
	text-align: center;
	color: #000000;
	cursor:crosshair
}
.contents #container {
	width: 950px;
	background: #FFFFff;
	margin: 0 auto;
	text-align: center;
}
.contents #header {
	background: #ffFFFF;
	padding: 37px 0px 15px 0px;
	margin: 0 auto;
}
.contents #sidebar1 {
	float: left;
	width: 125px;
	height: 390px;
	background: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 60px 0 0 250px;
	/* set margin left to 260 as alternative*/
	/* set margin left to 150 as alternative*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-style: normal;
	font-weight: normal;
	text-align: LEFT;
	color: #000000;

}
.contents #thefloat {
	float: left;
	width: 45px;
	height: 380px;
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 60px 0px 0 0px;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-style: normal;
	font-weight: normal;
	text-align: LEFT;
	color: #000000;
}
.contents #sidebar2 {
	float: left;
	width: 400px;
	height: 380px;
	background: #ffffff;
	padding: 0px 0px 0px 0px;
	margin: 60px 0px 0 0px;
	/* set margin left to 260 as alternative*/
	/* set margin left to 150 as alternative*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-style: normal;
	font-weight: normal;
	text-align: left;
	color: #000000;
}
.contents #footer {
	padding: 0px 0px 0px 0px;
	background:#fff;
}

/* stuff dont touch */

.contents #footer p {
	margin: 0;
	padding: 0px 0;
}
.fltrt {
	float: right;
	margin-left: 0px;
}
.fltlft {
	float: left;
	margin-right: 0px;
}
.clearfloat {
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

/* header styles */

h1
{ /* for CONTENTS */
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.6em;
	word-spacing: 0.2em;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
}
.contents #preface {
	padding: 0 0 1px 0;
	font-weight: bold;
	line-height: 0px;
}
.contents #appendix {
	padding: 2px 0 0px 0;
	font-weight: bold;
	line-height: 1px;
}

.contents #appendix span {
	padding: 2px 0 0px 0;
	font-weight: bold;
	line-height: 1px;
}

.contents #appendix:hover {
	padding: 2px 0 0px 0;
	font-weight: bold;
	line-height: 1px;
	text-decoration:none;
	color:#CF1F1D;
}

.contents #appendix:hover span {
	padding: 2px 0 0px 0;
	font-weight: bold;
	line-height: 1px;
	text-decoration:none;
	color:#CF1F1D;
}

/* Show images on hover - set borders to cover text */

#Style { /* PORTRAITS */
position:absolute;
visibility:hidden;
border-bottom:solid 145px #fff;
border-top:solid 1px #fff;
border-right:solid 20px #fff;
padding:5px 0 0 0px;
}
#Style2 { /* PURLOINED BREATH */
position:absolute;
visibility:hidden;
border-bottom:solid 165px #fff;
border-top:solid 1px #fff;
border-right:solid 20px #fff;
padding:5px 0 0 0px;
}
#Style3 { /* LONGSCAPES */
position:absolute;
visibility:hidden;
border-bottom:solid 145px #fff;
border-top:solid 1px #fff;
border-right:solid 20px #fff;
padding:5px 0 0 0px;
}
#Style4 { /* THE NIGHT */
position:absolute;
visibility:hidden;
border-bottom:solid 30px #fff;
border-right:solid 200px #fff;
border-top:solid 1px #fff;
padding:5px 0 0 0px;
}

#Style5 { /* POLAROIDS */
position:absolute;
visibility:hidden;
border-bottom:solid 90px #fff;
border-right:solid 10px #fff;
border-top:solid 1px #fff;
padding:5px 0 0 0px;
}
#Style6 { /* PROTAGONISTS */
position:absolute;
visibility:hidden;
border-bottom:solid 105px #fff;
border-top:solid 1px #fff;
border-right:solid 120px #fff;
padding:5px 0 0 0px;
}
#Style7 { /* SEE YOU BETTER */
position:absolute;
visibility:hidden;
border-bottom:solid 125px #fff;
border-top:solid 1px #fff;
border-right:solid 20px #fff;
padding:5px 0 0 0px;
}
#Style8 { /* WHAT FEAR WAS */
position:absolute;
visibility:hidden;
border-bottom:solid 90px #fff;
border-top:solid 1px #fff;
border-right:solid 60px #FFF;
padding:5px 0 0 0px;
}
#Style9 { /* COMMERCIAL */
position:absolute;
visibility:hidden;
border-bottom:solid 50px #fff;
border-right:solid 120px #FFF;
border-top:solid 1px #fff;
padding:5px 0 0 0px;
}




/* Floating Images */

.chapters{
font-family: Arial, Helvetica, sans-serif;
font-size: 8pt;
letter-spacing: 0.2em;
word-spacing: 0.4em;
font-style: normal;
font-weight: normal;
text-align: left;
color: #000000;
text-decoration:none;
padding: 0 0 0 0px;
}

.chapters:hover{
font-family: Arial, Helvetica, sans-serif;
font-size: 8pt;
letter-spacing: 0.2em;
word-spacing: 0.4em;
font-style: normal;
font-weight: normal;
text-align: left;
color: #000000;
text-decoration:none;
padding: 0 0 0 0px;
}


/* Set Numerals to RED when hover over */

.chapters span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #000000;
	text-decoration:none;
	padding: 0 0 0 0px;
	}

.chapters:hover span{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	letter-spacing: 0.2em;
	word-spacing: 0.4em;
	font-style: normal;
	font-weight: bold;
	text-align: left;
	color: #CF1F1D;
	text-decoration:none;
	padding: 0 0 0 0px;
	margain: 0 0 0 0px;
	}

/* appendix fix for firefox */

A:link {
	color: #000000;
	text-decoration:none;
	}

A:hover {
	color: #CF1F1D;
	text-decoration:none;
	}

A:active {
	color: #000000;
	text-decoration:none;
	}

A:visited {
	color: #000000;
	text-decoration:none;
	}
